:root { 
    --linear-green: linear-gradient(114deg, #28D6AA 0%, rgba(5, 58, 45, 0.56) 100%);
    --linear-green2: #28D6AA;
    --font-family: 'Kavoon', cursive;
    --font-family2: 'Outfit', sans-serif;
    --purple: #3C3D8F;
    --orange: #F58634;
    --white: #FFFFFF;
    --dark-green: #006C51;
    --colorful-gradient: linear-gradient(114deg, #F58634 20%, #28D6AA 80%);
    --purple2: #3A53C7;
    --dark-green2: #003D1F;
    --light-green: #D9EDDF;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 20vh;
}

nav {
    width: 100%;
    height: 100%;
    padding: 0;
}

.navbar { 
    display: grid;
    width: 100%; 
    height: 100%; 
    background: var(--linear-green2); 
    grid-template-columns: repeat(6, 1fr);
}

.nav-row-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 100%; 
    padding-left: 16px;
}

.logo-text {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.nav-row-2 {
    grid-column-start: 3;
    grid-column-end: -1;
    display: flex;
    justify-content: flex-end;
    align-self: center; 
    justify-self: end;
    height: 100%;
    width: 100%;
    padding-right: 16px;
}

.nav-items {
    color: var(--white); 
    font-size: 16px; 
    font-family: var(--font-family); 
    font-weight: bolder;
    word-wrap: break-word;
    align-self: center;
    overflow: hidden;
    padding: 8px;
    justify-self: end;
}

a {
    text-decoration: none;
    color: var(--white);
}

.nav-items a:hover {
    color: var(--purple2);
}

a::before {
    content: '';
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 0%;
    height: 4px;
    margin-bottom: 8px;
    background: var(--purple2);
    border-radius: 4px;
    transition-property: width;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    transform-origin: right;
    opacity: 0;
}

a:hover::before {
    opacity: 1;
    width: 100%;
}

.footer {
    display: grid;
    grid-template-rows: repeat(1fr, 1fr);
    width: 100%;
    background: var(--linear-green);
    gap: 16px;
    height: 300px;
}

.footer-row1 {
    width: 85%;
    border-bottom: 1px solid white;
    align-self: center;
    justify-self: center;
    padding: 16px;
}

.footer-title-section {
    width: 80%;
    margin: 0 auto;
}

.footer-title {
    text-align: center;
    font-family: var(--font-family);
    color: var(--orange);
    letter-spacing: 1px;
    font-size: 30px;
}

.footer-title-section p {
    font-size: 32px;
    color: var(--orange);
    font-family: var(--font-family);
    font-weight: 900;
}

.footer-row2 {
    width: 80%;
    margin: 0 auto;
    color: white;
    font-family: var(--font-family2);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 24px;
    height: auto;
}

.footer-row2 .contact-section {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 212px;
}

.footer-row2 .contact-section h3, .footer-row2 .about-section h3 {
    font-size: 22px;
    font-weight: bolder;
    color: white;
    margin-bottom: 8px;
}

.footer-row2 .contact-section ul, .footer-row2 .about-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-row2 .contact-section ul .contact-item, .footer-row2 .about-section ul .about-item {
    font-size: 16px;
    display: block;
    padding: 4px;
    margin-top: 8px;
}

.footer-row2 .about-section ul .about-item {
    cursor: pointer;
}

.footer-row2 .about-section ul .about-item:hover {
    color: var(--purple);
}

.footer-row2 .about-section {
    grid-column-start: 3;
    grid-column-end: 8;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    height: 212px;
}

.footer-row2 .about-section .row-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-start: 1;
    grid-row-end: 2;
    gap: 12px;
    width: 100%;
    border-bottom: 1px solid white;
}

.footer-row2 .about-section .row-1 .col-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-bottom: 24px;
}

.footer-row2 .about-section .row-1 .col-2 {
    grid-column-start: 2;
    margin-bottom: 24px;
}

.footer-row2 .about-section .row-1 .col-3 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.footer-row2 .about-section .row-2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    justify-self: center;
}

.row-2 p {
    text-align: center;
}

.footer-enroll {
    background: var(--orange);
    font-family: var(--font-family2);
    font-size: 20px;
    padding: 12px;
    color: white;
    text-align: center;
    border: none;
    border-radius: 20px;
    width: 180px;
    font-weight: bolder;
    align-self: center;
    justify-self: center;
    margin-top: 24px;
    cursor: pointer;
    transition-property: width font-size;
    transition-duration: 1000ms 1000ms;
    transition-timing-function: ease-in-out;

}

.footer-enroll:hover {
    width: 190px;
    font-size: 22px;
}

.footer-enquire {
    background: #3BE4AC;
    font-family: var(--font-family2);
    font-size: 20px;
    padding: 12px;
    color: white;
    text-align: center;
    /* border: 1px solid var(--orange); */
    border: none;
    border-radius: 20px;
    width: 180px;
    font-weight: bolder;
    align-self: center;
    justify-self: center;
    margin-top: 24px;
    cursor: pointer;
    transition-property: border background-color;
    transition-duration: 1000ms 4000ms;
    transition-timing-function: ease-in-out;
    transform-origin: left;
}

.footer-enquire:hover {
    border: none;
    background-color: #3BE4AC;
}