{% extends 'base.html' %}

{% block title %}
<title>Contact Us</title>
{% endblock %}

{% block stylesheet %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'contactStyles.css') }}" />
{% endblock %}

{% block script %}<script src="{{ url_for('static', filename='contactScripts.js')}}" defer></script>{% endblock %}

{% block content %}
<section class="contact-us-section" aria-label="Contact Us Section and Form">
    <h1 class="main-header1">Kindly Fill In The Form Below:</h1>
    <div class="contact-form">
        <div class="enroll clicked">
            <p class="clicked-p">Enroll</p>
        </div>
        <div class="enquire">
            <p>Enquire</p>
        </div>
        <form class="form1" action="{{ url_for('contact')}}" method="post">
            <div class="form-group">
                <div class="inner-form-groups">
                    <input type="text" id="firstName" class="form-control" autocomplete="off" required/>
                    <label class="labels" for="firstName">Student's First Name:</label>
                </div>
                <div class="inner-form-groups">
                    <input type="text" id="lastName" class="form-control" autocomplete="off" required/>
                    <label class="labels" for="lastName">Student's Last Name:</label>
                </div>
            </div>
            <div class="form-group">
                <div class="inner-form-groups">
                    <input type="date" id="dob" class="form-control date-control" autocomplete="off" required/>
                    <label class="special-label" for="dob">Date Of Birth:</label>
                </div>
                <div class="inner-form-groups">
                    <input type="text" id="nationality" class="form-control" autocomplete="off" required/>
                    <label class="labels" for="nationality">Nationality:</label>
                </div>
            </div>
            <div class="form-group last-student-group">
                <div class="inner-form-groups">
                    <input type="text" id="school" class="form-control" autocomplete="off" required/>
                    <label class="labels" for="school">Current School:</label>
                </div>
                <div class="inner-form-groups">
                    <input type="text" id="grade" class="form-control" autocomplete="off" required/>
                    <label class="labels" for="grade">Current Class:</label>
                </div>
            </div>
            <div class="form-group">
                <div class="inner-form-groups">
                    <input type="text" id="parentFirstName" class="form-control" autocomplete="off" required/>
                    <label class="labels" for="parentFirstName">Parent First Name:</label>
                </div>
                <div class="inner-form-groups">
                    <input type="text" id="parentLastName" class="form-control" autocomplete="off" required/>
                    <label class="labels" for="parentLastName">Parent Last Name:</label>
                </div>
            </div>
            <div class="form-group">
                <div class="inner-form-groups">
                    <input type="email" id="email" class="form-control" autocomplete="off" required/>
                    <label class="labels" for="email">Email:</label>
                </div>
                <div class="inner-form-groups">
                    <input type="text" id="number" class="form-control" autocomplete="off" required/>
                    <label class="labels" for="number">Phone Number:</label>
                </div>
            </div>
            <div class="form-group">
                <div class="inner-address-groups">
                    <input type="text" id="address" class="form-control" autocomplete="off" required/>
                    <label class="labels" for="address">Address:</label>
                </div>
                <div class="inner-address-groups">
                    <input type="text" id="address2" class="form-control" autocomplete="off"/>
                    <label class="labels" for="address2">Second Address:</label>
                </div>
            </div>
            <div class="form-group">
                <div class="inner-form-groups">
                    <input type="text" id="city" class="form-control" autocomplete="off" required/>
                    <label class="labels" for="city">City:</label>
                </div>
                <div class="inner-form-groups">
                    <input type="text" id="postCode" class="form-control" required/>
                    <label class="labels" for="postCode">Post Code:</label>
                </div>
            </div>
            <button type="submit" class="form-button">Submit</button>
        </form>
        <form action="{{ url_for('contact')}}" class="form2">
            <div class="form2-group">
                <input name="parentEnquiryName" id="enquiryName" type="text" class="form2-control" required/>
                <label class="form2-labels" for="enquiryName">Full Name:</label>
            </div>
            <div class="form2-group">
                <input name="parentEnquiryEmail" id="enquiryEmail" type="email" class="form2-control" required/>
                <label class="form2-labels" for="enquiryEmail">Email Address:</label>
            </div>
            <div class="form2-group">
                <textarea name="enquiry" id="enquiry" cols="30" rows="4" class="text-area" required></textarea>
                <label class="area-label" for="enquiry">Enquiry:</label>
            </div>
            <button class="enquiry-submit">Submit</button>
        </form>
    </div>
</section>
{% endblock %}